.App {
  background-color: #282c34;
  min-height: 100vh;
}

.app-content {
  padding: 0 40px;
}

.App-link {
  color: #61dafb;
}

.card-title {
  padding: 1rem;
  padding-left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
